".source.java":
  "if statement":
    "prefix": "if"
    "body": "if(${1:condition}) {\n\t${2}\n}$3"

  "else statement":
    "prefix": "else"
    "body": "else {\n\t${2}\n}$3"

  "if/else statement":
    "prefix": "ifelse"
    "body": "if(${1:condition}) {\n\t${2}\n} else {\n\t${3}\n}$4"

  "else/if statement":
    "prefix": "elseif"
    "body": "else if (${1:condition}) {\n\t${2}\n}$3"

  "for loop":
    "prefix": "for"
    "body": "for (Integer ${1:i} = 0; ${1:i} < ${2:iterable}${3:.length}; ${1:i}++) {\n\t${4}\n}$5"

  "iterator based for each loop":
    "prefix": "fore"
    "body": "for(${1:object_type} ${2:var_name}: ${3:collection_name}) {\n\t${2:var_name}\n}$4"

  "while loop":
    "prefix": "while"
    "body": "while (${1:condition}) {\n\t${2}\n}$3"

  "try/catch":
    "prefix": "trycatch"
    "body": "try {\n\t${1}\n} catch(Exception ${2:exception_name}) {\n\t${2:exception_name}\n}$3"

  "try/finally":
    "prefix": "tryfinally"
    "body": "try {\n\t${1}\n} finally {\n\t${2}\n}$3"

  "try/catch/finally":
    "prefix": "trycatchfinally"
    "body": "try {\n\t${1}\n} catch(Exception ${2:exception_name}) {\n\t${2:exception_name}\n} finally {\n\t${3}\n}$4"